<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="row-md-4 d-flex align-items-center justify-content-center">
                 <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">Login</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/register">Registrarse</a>
                     </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="/realtimeProducts">Formulario</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/chat">Chat</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/products">Terapias</a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/profile">Tu perfil</a>
                     </li>
                 </ul>
                 
                  
            </div>
       
             <div class="col-md-10 offset-md-1">
  
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                {{#each products}}
                    <tr>
                        <td><img src="{{this.product.thumbnail}}" alt="{{this.product.title}}" width="48"></td>
                        <td class="align-middle">{{this.product.title}}</td>
                        <td class="align-middle">${{this.product.price}}</td>
                        <td class="align-middle">X{{this.quantity}}</td>
                        <td class="afdslign-middle text-end"><button class="btn btn-dark" onclick="eliminarProducto('{{this._id}}')">Eliminar</button></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>
</div>
</body>
<script src="../src/public/cart.js"></script>
</html>